<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
<!-- 회원가입 -->
<insert id="memberInsert" parameterType="memberDTO">

INSERT INTO MEMBERTABLE(MEMBERNUM ,MEMBERID, MEMBERPASS, MEMBERNAME, MEMBERTEL, MEMBEREMAIL, MEMBERJOINDATE, MEMBERAUTH)
VALUES (MEMBERNUM_SEQ.nextval,#{memberId},#{memberPass},#{memberName},#{memberTel},#{memberEmail},sysdate,'0' )
</insert>
<!-- 회원가입 유효성 검사 -->

<select id="idCheck" parameterType="memberDTO" resultType='MemberDTO'>
SELECT  *
FROM    MEMBER
WHERE  memberid= #{memberId} 


</select>


</mapper> 