@charset "UTF-8";


/*고객센터 헤드*/
.center_h{
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
}
/*고객센터 테두리*/
.ser_rec{
	
	 text-align:left;
}
/*고객센터 버튼 테두리*/
.rec_ser button{
	width:150px;
	height:80px;
	border-color:#ADADAD;
	border-radius:1px;  
	background-color:#FFFFFF;
	margin: 0px;

}
/*공지사항 타이틀*/
.board_h{
	font-size:25px;
	font-weight: bold;
	text-align: center;
	padding-top:30px;
	padding-bottom: 30px;
	
}
/* 공지사항 헤더 */
.head_line>div{
	text-align: center;
	font-size:20px;
	font-weight:bold; 
}
/* 게시글 목록 */
.board_line>div{
	text-align: center;
	font-size:15px;
	
}
.sc_board div{

   /* border:2px solid red;  */
 }
 
/*화살키*/
.ak{
	text-align: center;
}
#left:hover,#right:hover{
	border-bottom: 1px solid;
}
#question,#mtom{
	 display:none; 
}
.qna{
	text-align: right;
}
.qna>button{
	background-color: black;
	color:#DEBD7E;
}








