@charset "UTF-8";
/*** 컨테이너 스타일 ***/
.AdminTab{
	background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
	height:100%;
}
.containBorder-noline{
	margin: 20px 20px -20px 0px;
}
.containBorder{
	background-color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin: 20px;
}
#ItemList{
	margin:0px 10px;
	
}

#ItemInsert{
	margin-right:10px;
}

#Category{
	margin-left:10px;
	font-weight: bold;
}

#OrderInfo{
	padding : 10px 20px 0px 0px;
	margin-bottom:0px;
}

#totalCount{
	height : 100%;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
	overflow-y: auto;
}
div>.listTable_store>div{
	margin-bottom:0px;
	border-radius: 10px 10px 0px 0px;
}

/* 고객관리 탭 */
#MemberInfo{
	margin-left : 0px;
	margin-right: 10px;
}
#PurchaseList{
	margin-right: 0px;
	margin-left : 10px;
}
#PurchaseList div.listTable>div{
	max-height : 320px;
    min-height : 320px;
}

/* 테이블 스타일 */
.infoTable{
	width:100%;
	padding: 10px;	
}

.infoTable td{
	font-weight: bold;
	padding: 10px;
	margin: 20px 10px 10px 0px;
	text-align: center;
}

.infoTable tr{
	width:100%;
}

.listTable{
	max-height :400px;
}

.listTable>div{
	height : 100%;
    font-size: 16px;
    text-align: center;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-height : 380px;
    min-height : 380px;
	overflow-y: auto;
	margin:10px 0;
}

.listTable table{
	width: 100%;
	border-collapse: collapse;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.listTable table th{
	background-color: #E0E0E0;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #CCCCCC;
}

.listTable table td{
	padding: 10px;
    border: 1px solid #DDDDDD;
    color: #555555;
}

.listTable tr:nth-child(even){
	background-color: #FAFAFA;
}

.listTable tr:nth-child(odd){
	background-color: #FFFFFF;
}

.totalCount {
	width:100%;
	border-collapse: collapse;
}

.totalCount th{
	background-color: #E0E0E0;
    color: #333333;
    font-weight: bold;
    padding: 10px;
  
}
/* 글씨 스타일 */
.infoTable input{
	width:100%;
}
#BigCateNum, #SmallCateNum {
	width:38px;	
}

#BigCateInput, #SmallCateInput {
	width:165px;
}

input[type="text"], input[type="file"], select {
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #333333;
}

td>textarea {
	width:100%;
	resize:none;
	border : 1px solid #CCCCCC;
}

.infoTable select{
	width: 100%;
}
#OrderList select{
	margin-top:10px;
}
/* 버튼 스타일 */
input[type="button"]{
  background-color: #E0E0E0;
	font-size: 14px;
	border: 1px solid #CCCCCC;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 3px;
    transition: background-color 0.3s ease, transform 0.2s;
}

input[type="date"] {
	font-size: 25px;
	color:#A0A19C;
	border: 1px solid #CCCCCC;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 3px;
    transition: background-color 0.3s ease, transform 0.2s;
}