@charset "UTF-8";

#join_membership div{
 	/*  border:2px solid blue; */   
 
	padding:3px;
}
 	 
 	 
 }
 /* 회원가입 베너 */
.tit{
	font-style: normal;
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
	
} 
 
/*입력란 크기(이메일 제외)*/
.bm>input{
	
	width: 400px;
	height: 45px;
	font-size: 15px;
	border-radius: 5px;
	
}
/*이메일 입력란 */
.em>input{
	
	width: 200px;
	height: 45px;
	font-size: 15px;
	border-radius: 5px;
	
}
/*이메일 주소 선택하기*/
.combo{
	width: 170px;
	height: 45px;
	font-size: 15px;
	border-radius: 5px;
}
/*이메일 인증하기 버튼*/
.ejoin{
	width: 100px;
	height: 45px;
	font-size: 15px;
	border-radius: 5px;
	border: 2px solid #101010;
	background-color: white;
}

/*주소 찾기 버튼*/
.addr_btn{
	width: 400px;
	height: 45px;
	font-size: 15px;
	border-radius: 5px;
	border: 2px solid #101010;
	background-color: white;
}



/* ************이용약관 동의*****************  */
#join_agree {
	margin-left: 105px;
}

#join_agree div {
/* 	  border: 2px solid red; 
 */	
}
/*전체동의 설명*/
#join_detail {
	text-align: right;
	font-size: 10px;
}
/*이용약관 체크박스*/
.join_check>[type="checkbox"] {
	width: 30px;
	height: 30px;
}
/*전체 동의 합니다*/
.join_font {
	font-size: 25px;
	margin-top: 4px;
}
/*약관보기*/
.join_about {
	font-size: 12px;
	text-align: right;
	margin-top: 15px;
}
/*전제동의 아래 선택지 글*/
div.join_d {
	font-size: 15px;
	margin-top: 12px;
	/* border:2px solid blue; */
}
/*이용약관 전체 패딩*/
#join_agree .col-6>.row {
	padding: 10px;
}
/*SMS 이메일*/
div.join_s {
	margin-top: 10px;
	font-size: 15px;
}

#join_button>div:nth-of-type(3)>button {
	width: 400px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #101010;
	color: #F8DE8B;
}