@charset "UTF-8";

/*회원가입 배너 */
#join_membership>div:first-of-type {
	font-style: normal;
	font-size:32px;
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
   
    font-weight:bold;
    
}

/* 아이디 div 여백*/
#join_id{
padding:10px;	
}
/*아이디창 여백*/
#join_id>div:first-of-type {

    padding-right:0;
	
}
/*아이디 제목*/
#join_id>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	
	font-weight:bold;
	font-size:15px;
}
/*아이디 입력창 테두리*/
#join_id>div:nth-of-type(3) {
	text-align:center;
	
}
/*아이디 입력창*/
#join_id>div:nth-of-type(3)>input{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
}
/*비밀번호 입력창 div 여백*/
#join_pass{
padding:10px;	
}
/*비밀번호 입력창 여백*/
#join_pass>div:first-of-type {

    padding-right:0;
	
}
/*비밀번호 입력창 제목*/
#join_pass>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	font-weight:bold;
	font-size:15px;
}
/*비밀번호 입력창 테두리*/
#join_pass>div:nth-of-type(3) {
	text-align:center;
}
/*비밀번호 입력창*/
#join_pass>div:nth-of-type(3)>input{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
}
/*비밀번호 확인창  div 여백*/
#join_repass{
padding:10px;	
}
/*비밀번호 확인창 여백*/
#join_repass>div:first-of-type {

    padding-right:0;
	
}
/*비밀번호 확인창 제목*/
#join_repass>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	font-weight:bold;
	font-size:15px;
}
/*비밀번호 확인 입력창 테두리*/
#join_repass>div:nth-of-type(3) {
	text-align:center;
}
/*비밀번호 확인 입력창*/
#join_repass>div:nth-of-type(3)>input{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
}
/*이메일 입력창 div 여백*/
#join_email{
padding:10px;	
}
/*이메일 입력창 여백*/
#join_email>div:first-of-type {

    padding-right:0;
}
/*이메일 입력창 제목*/
#join_email>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	font-weight:bold;
	font-size:15px;
}
/*이메일 입력창 테두리*/
#join_email>div:nth-of-type(3) {
	text-align:center;
	
}
/*이메일 입력창 */
#join_email>div:nth-of-type(3)>input{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
}
/*이메일 입력창 인증 버튼 테두리*/
#join_email>div:nth-of-type(4){
	padding-top:5px;
	text-align:left;
	
}
/*이메일 입력창 인증 버튼 */
#join_email>div:nth-of-type(4)>button{
	
	width: 150px;
	height:40px;	
	font-size:15px;
	border-radius:5px;
	background-color:#FFFFFF;
}
/*휴대폰  div 여백*/
#join_cellphone{
padding:10px;	
}
/*전화번호 입력창 여백*/
#join_cellphone>div:first-of-type {

    padding-right:0;
	
}
/*전화번호 입력창 제목*/
#join_cellphone>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	font-weight:bold;
	font-size:15px;
}
/*전화번호 입력창 테두리*/
#join_cellphone>div:nth-of-type(3) {
	text-align:center;
}
/*전화번호 입력창*/
#join_cellphone>div:nth-of-type(3)>input{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
}
/*주소  div 여백*/
#join_address>div:first-of-type {

    padding-right:0;
	
}
/*주소창 제목*/
#join_address>div:nth-of-type(2) {
    text-align:right;
    padding-top:12px;
	font-weight:bold;
	font-size:15px;
}
/*주소창 버튼 테두리 */
#join_address>div:nth-of-type(3) {
	text-align:center;
	
}
/*주소창 버튼*/
#join_address>div:nth-of-type(3)>button{
	width: 400px;
	height:50px;	
	font-size:15px;
	border-radius:5px;
	background-color:#FFFFFF;
}

#join_agree{
	margin-left:160px;

}

#join_agree div{
	border:2px solid red;
	
}
#fuck{
	margin-left:300px;
	font-size:10px;
}

