@charset "UTF-8";

/*로그인베너?*/
#login_div>div:first-of-type {
	font-style: normal;
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}

/*아이디창 위치 */
#login_div div:nth-of-type(1) {
	text-align: center;
	padding: 10px;
}

/* 아이디 입력창 */
#login_div div:nth-of-type(1)>input {
	width: 330px;
	height: 50px;
	font-size: 15px;
	border-radius: 5px;
}
/*비밀번호창 위치*/
#login_div div:nth-of-type(2) {
	text-align: center;
	padding: 10px;
}
/*비밀번호 입력창*/
#login_div div:nth-of-type(2)>input {
	width: 330px;
	height: 50px;
	font-size: 15px;
	border-radius: 5px;
}
/*아이디 저장, 아이디/비밀번호찾기 위치및 사이즈*/
#login_div div:nth-of-type(3) {
	font-size: 12px;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}
/*아이디 저장 위치 */
#login_div div:nth-of-type(3)>label {
	padding-right: 100px;
}
/*로그인 버튼*/
#login_div div:nth-of-type(4) {
	text-align: center;
	padding: 10px;
}

#login_div div:nth-of-type(4)>button {
	width: 330px;
	height: 50px;
	color: #F8DE8B;
	background-color: #101010;
	font-weight: bold;
	border-radius: 5px;
}
/*회원가입 버튼*/
#login_div div:nth-of-type(5) {
	text-align: center;
	padding: 10px;
}

#login_div div:nth-of-type(5)>button {
	width: 330px;
	height: 47px;
	background-color: #FFFFFF;
	font-weight: bold;
	border: 2px solid #101010;
	border-radius: 5px;
}
/*소셜 로그인 버튼*/
#login_div div:nth-of-type(6) {
	width: 330px;
	/* height:50px;
 */
	border: 2px solid red;
}

#login_div div:nth-of-type(6)>div {
	border: 2px solid blue;
}
