@charset "UTF-8";
/* *************퀵메뉴************ */
/* 퀵메뉴 */
#quick_menu {
	float: left;
	position: sticky;
	top: 250px;
	left: calc(50% + 720px);
	text-align: center;
	display: inline-block;
	width: auto;
	border: 1px solid #888888;
	box-shadow: 0px 0px 3px #888888;
	border-radius: 5px;
	font-weight: 600;
	z-index: 1050;
	background-color: white;
}
/* 사이즈가 작아지면 퀵메뉴 삭제 */
@media all and (max-width: 1700px) {
	/* 퀵메뉴 */
	#quick_menu {
		display: none;
	}
}
/* 퀵메뉴 리스트 */
#quick_menu li {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* 퀵메뉴 리스트 아이콘 */
#quick_menu li svg {
	margin-bottom: 10px;
}
/* 퀵메뉴 hr태그 */
#quick_menu hr {
	margin: auto;
	padding: 0;
	width: 70%;
}

/* *************퀵메뉴************ */

/* 바디 컨테이너 */
#body_container {
	margin-top: 50px;
}
/* 상품상세 테스트 보더 */
#body_container div {
	/* border: 2px solid red; */
	
}
/* 상품상세 중간 줄 */
#product_container hr {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 98%;
	border-color: #cccccc;
}
/* 상품이미지 사이즈 */
#product_img img {
	width: 100%;
	border-radius: 8px;
}
#product_detail{
	padding-left: 6%;
}
/* 상품갯수 조절 div */
#product_counter>div {
	display: inline-block;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	box-shadow: 0 0 1px #aaaaaa;
	user-select: none; 
	font-size: 18px;
}
/* 상품갯수 조절 중간 패딩 */
#product_counter span:nth-last-of-type(2) {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	
}
/* 상품갯수 조절 중간 패딩 */
#product_counter span:nth-last-of-type(1),#product_counter span:nth-last-of-type(3) {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	
}
/* 상품갯수 조절 중간 라인 */
#product_counter span:nth-of-type(3) {
	display: inline-block;
	border-left: 1px solid #888888;
}
/* 상품갯수 조절 중간 라인 */
#product_counter span:nth-of-type(1) {
	border-right: 1px solid #888888;
}
/* 장바구니 담기 버튼 */
#product_add {
	margin-top: 50px;
	width: 400px;
	height: 60px;
	background-color: #5A5A5A;
	border: 1px solid #5A5A5A;
	border-radius: 4px;
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	letter-spacing: 3px;
	color: #F8DE8B;
	box-shadow: 0 0 3px #222222
}
/* 설명 제목 폰트 조절 */
.font_title{
	font-size:20px;
	font-weight:600;
	color: #444444;
}
/* 설명 내용 폰트 조절 */
.font_content{
	font-size:15px;
	color: #888888;
	
}
/*******************************************************상품상세페이지 */
/* 상품상세버튼 박스 */
#detail_box{
	position: sticky;
	top:59px;
	background: #f1f1f1;
	cursor: pointer;
}
/* 상품상세 컨테이너 */
#detail_container{
	margin-top: 100px;
}
/* 디테일 버튼 */
.detail_button{
	padding-bottom:15px;
	padding-top:15px;
 	border: 1px solid #5A5A5A;
	font-size: 20px;
	font-weight: 500;
	color: #5A5A5A;
}
.detail_button:nth-child(2){
	padding-bottom:15px;
	padding-top:15px;
 	border-left: none;
 	border-right: none;
	font-size: 20px;
	font-weight: 500;
	color: #5A5A5A;
}
.detail_button:nth-child(3){
	padding-bottom:15px;
	padding-top:15px;
 	border-right: none;
	font-size: 20px;
	font-weight: 500;
	color: #5A5A5A;
}
/* 
디테일 버튼 호버시
.detail_button:hover{
	border: 1px solid #5A5A5A;
	font-weight: 600;
	color: #F8DE8B;
	background-color: #5A5A5A;
}
 */
 /* 상품상세 이미지 간격 */
 .detail_img img{
	margin-top: 50px;
}
/**********************************************************후기 댓글 */
/* div 경계선 */
#reply_container div{
	/* border: 2px solid red; */
}
/* 리플페이지 넘김버튼 */
#reply_page_button i{
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	padding-right: 5px;
	padding-left: 5px;
}
/*************************************************************문의페이지 */
/* div 경계선 */
#board_container div{
	  /* border: 2px solid blue;   */
}
/* 문의 페이지 간격 */
#board_container{
	margin-top: 50px; 
}
/* 문의하기 버튼 */
#q_button{
	width: 150px;
	height: 35px; 
	font-size: 18px;
	font-weight: 500;
	background-color: #5a5a5a;
	color: #F8DE8B;
	border-radius: 3px;
	margin-top: 15px;
}
/* 문의하기 헤더 */
.borad_header{
	font-size: 18px;
	font-weight: 600;
}
#reply_container hr:first-of-type {
	height:2px;
	background: #5a5a5a;
	border: 0;
	opacity: 100;
}
#board_container hr:first-of-type{
	height:2px;
	background: #5a5a5a;
	border: 0;
	opacity: 100;
}