<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemDAO">
	<insert id='ItemInsert' parameterType="ItemDTO">
		INSERT INTO itemtable(itemnum, smallcatenum, itemname, itemthumnail, itemdetail, itemunit, itemorigin, itemvolume, itemallergyinfo, itemcost, itemprice, itemdate, itemsupplier )
		VALUES (sequence_itemnum.nextval, #{samllCateNum}, #{itemName}, #{itemThumnail} , #{itemDetail}, #{itemUnit}, #{itemOrigin}, #{itemVolume}, #{itemAllErgyinfo}, #{itemCost}, #{itemPrice}, sysdate, #{itemSupplier})
	</insert>
</mapper>