@charset "UTF-8";


/* 풋터 왼쪽 컨테이너 div */
.footer_left>div {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 풋터 왼쪽 컨테이너 고객센터*/
.footer_left>div:first-child {
	font-weight: 550;
	font-size: 30px;
}

/* 풋터 왼쪽 컨테이너 상담전화*/
.footer_left>div:nth-child(2)>span:first-child {
	font-weight: 550;
	font-size: 45px;
}

/* 풋터 왼쪽 컨테이너 상담전화 시간*/
.footer_left>div:nth-child(2)>span:last-child {
	padding-left: 10px;
	font-size: 15px;
	color: #8A8A8A;
}

/* 풋터 왼쪽 컨테이너 1:1 문의*/
.footer_left>div:nth-child(3)>span:first-child>a {
	padding: 3px 30px 3px 30px;
	font-size: 23px;
	border: 2px solid #8A8A8A;
	border-radius: 2px;
	text-decoration: none !important;
	color: inherit !important;
}

/* 풋터 왼쪽 컨테이너 1:1 문의 옆의 글씨*/
.footer_left>div:nth-child(3)>span:last-child {
	padding-left: 16px;
	font-size: 15px;
	color: #8A8A8A;
}

/* 풋터 오른쪽 컨테이너 ul */
.footer_right > .nav{
	margin-top: 15px; 
}
/* 풋터 오른쪽 컨테이너 li */
.footer_right > .nav > li{
	padding-right: 26px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px; 
}
/* 풋터 오른쪽 컨테이너 글 */
.footer_right > p{
	padding-right: 26px;
	font-size: 14px;
	font-weight: 400;
	color: #8A8A8A;
}

/* 풋터 hr */
.container-fluid hr{
	border-color: #dddddd; 
}

